<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>30_팝업관리사이트추가수정</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&amp;subset=korean">
	<link rel="stylesheet" href="./css/plugin.css">
	<link rel="stylesheet" href="./css/common.css">
	<script type="text/javascript" src="./js/plugin.js"></script>
</head>
<body>
	<div class="wrap">
		<header class="header">
			<div class="inner clear">
				<h1><a href="" class="logo spr">힙합퍼</a></h1>
				<div class="func clear">
					<a href="" class="btn_alarm spr_before"><span class="length">12</span><span class="s_out">개의 알림 보기</span></a>
					<div class="wrap_mymenu">
						<div class="img_profile"><img src="./img/temp1.jpg" alt=""></div>
						<button type="button" class="btn_mymenu">admin</button>
					</div>
				</a>
			</div>
		</header>
		<main class="main clear">
			<nav class="wrap_lnb">
				<ul>
					<li class="dashboard"><a href="" class="link">DASHBOARD</a></li>
					<li><a href="" class="link">회원 관리</a></li>
					<li><a href="" class="link">업체 관리</a></li>
					<li><a href="" class="link">MD 관리</a></li>
					<li><a href="" class="link">상품 관리</a></li>
					<li><a href="" class="link">주문/매출/정산 관리</a></li>
					<li><a href="" class="link">배너 관리</a></li>
					<li><a href="" class="link">이벤트 관리</a></li>
					<li><a href="" class="link">기획전 관리</a></li>
					<li><a href="" class="link">쿠폰 관리</a></li>
					<li><a href="" class="link open">팝업 관리</a>
						<ul class="dep2">
							<li><a href="" class="link on">사이트 팝업</a></li>
							<li><a href="" class="link">어드민 팝업</a></li>
						</ul>
					</li>
					<li><a href="" class="link">에디터 보드 관리</a></li>
					<li><a href="" class="link">Q&amp;A 관리</a></li>
					<li><a href="" class="link">FAQ 관리</a></li>
					<li><a href="" class="link">리뷰 관리</a></li>
					<li><a href="" class="link">댓글 관리</a></li>
				</ul>
			</nav>
			<section class="content">
				<h2 class="tit">팝업 관리 &gt; 사이트</h2>
				<form action="" class="wrap_table">
					<fieldset>
						<legend>검색하기</legend>
						<table class="table_vertical">
							<colgroup>
								<col style="width:150px">
								<col style="width:auto">
							</colgroup>
							<tr>
								<th>팝업명</th>
								<td>
									<div class="input_section">
										<input type="text" class="wide">
									</div>
								</td>
							</tr>
							<tr>
								<th>노출</th>
								<td>
									<div class="input_section">
										<span class="input_check"><input type="checkbox" id="tempCheck01"><label for="tempCheck01">PC</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck02"><label for="tempCheck02">MOBILE</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck03"><label for="tempCheck03">공통</label></span>
									</div>
								</td>
							</tr>
							<tr>
								<th>시간설정</th>
								<td>
									<div class="wrap_section">
										<p class="desc dis_f">고객이 '다시 보지 않음' 선택 할 시 몇 시간 동안 팝업레이어를 보여주지 않을지 설정합니다.</p>
										<div class="input_section dis_f">
											<span class="input_check"><input type="checkbox" id="tempCheck04"><label for="tempCheck04">24시간 동안 보지 않기</label></span>
											<span class="input_check"><input type="checkbox" id="tempCheck05"><label for="tempCheck05">일주일 동안 보지 않기</label></span>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th>URL 입력</th>
								<td>
									<div class="wrap_section flex_type21">
										<div class="input_section">
											<input type="text" class="wide">
										</div>
										<div class="input_section">
											<span class="input_check"><input type="checkbox" id="tempCheck06" onchange="setChange(this)"><label for="tempCheck06">없음</label></span>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th>시작시간</th>
								<td>
									<div class="wrap_section flex_type19">
										<div class="set_data dis_f">
											<span class="input_datas dis_if">
												<input type="text" id="datepickerFrom" placeholder="시작 날짜">
												<input type="text" id="timeFrom" placeholder="시작 시간">
												<button type="button" class="btn_showcal from spr_before pos_center_before"><span class="s_out">달력열기</span></button>
											</span>
											<div class="input_section dis_if">
												<button type="button" class="btn_view dis_if align_middle btn_st4" onclick="setToday()">오늘</button>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th>종료 시간</th>
								<td>
									<div class="wrap_section flex_type19">
										<div class="set_data dis_f">
											<span class="input_datas dis_if">
												<input type="text" id="datepickerTo" placeholder="종료 날짜">
												<input type="text" id="timeTo" placeholder="종료 시간">
												<button type="button" class="btn_showcal to spr_before pos_center_before"><span class="s_out">달력열기</span></button>
											</span>
											<div class="input_section dis_if">
												<button type="button" class="btn_view dis_if align_middle btn_st4" onclick="set7day()">오늘+7일</button>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th>팝업 이미지</th>
								<td>
									<div class="flex_type20">
										<div class="set_thumbnail">
											<div class="input_section">
												<strong class="tit_section right">PC</strong>
												<button type="button" class="preview" disabled><span><img src="" alt="썸네일 미리보기 이미지" class="pos_center hide"></span></button>
												<div class="input_thumbnail">
													<span class="input_file">
														<input type="text" class="txt_path">
														<input type="file" name="" accept="image/x-png,image/gif,image/jpeg">
													</span>
													<button type="button" class="btn_del" data-type="filereset">삭제</button>
												</div>
												<p class="desc">※ 이미지 사이즈 : 가로 2000px</p>
											</div>
											<div class="input_section">
												<strong class="tit_section right">MOBILE</strong>
												<button type="button" class="preview" disabled><span><img src="" alt="썸네일 미리보기 이미지" class="pos_center hide"></span></button>
												<div class="input_thumbnail">
													<span class="input_file">
														<input type="text" class="txt_path">
														<input type="file" name="" accept="image/x-png,image/gif,image/jpeg">
													</span>
													<button type="button" class="btn_del" data-type="filereset">삭제</button>
												</div>
												<p class="desc">※ 이미지 사이즈 : 가로 828px</p>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</table>
						<script>
							function setChange(obj){
								var tar = $(obj).closest('.wrap_section').find('input[type=text]');
								if( $(obj).is(':checked') ){
									tar.val('').prop('disabled',true)
								}else{
									tar.val('').prop('disabled',false)
								}
							}
							function setToday(){
								$('#datepickerFrom').datetimepicker('setDate', (new Date()) );
							}
							function set7day(){
								var today = new Date(),
									set = new Date();
								set.setDate(today.getDate()+7)
								$('#datepickerTo').datetimepicker('setDate', set );
							}
							$(function(){
								setDateTimepicker('#datepickerFrom','#datepickerTo','#timeFrom','#timeTo');
							})
						</script>
						<div class="btns">
							<button type="button" class="btn_st1">저장</button>
							<a href="" class="btn_st2">목록</a>
						</div>
					</fieldset>
				</form>
			</section>
		</main>
	</div>
	<script type="text/javascript" src="./js/common.js"></script>
</body>
</html>