<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>힙합퍼 어드민 스타일 가이드</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&amp;subset=korean">
	<link rel="stylesheet" href="./css/plugin.css">
	<link rel="stylesheet" href="./css/common.css">
	<script type="text/javascript" src="./js/plugin.js"></script>
	<style>
	.table_test{width:500px;}
	.table_test .inner{margin-left:100px;}
	.table_test th{width:100px;}
	.table_test td{width:500px;}

	.table_test2{width:500px;}
	.table_test2 tbody{height:300px;}
	.table_test2 th{width:20%;}
	.table_test2 td{width:20%;}
	</style>
</head>
<body>
	<div class="wrap">
		<header class="header">
			<div class="inner clear">
				<h1><a href="" class="logo spr">힙합퍼</a></h1>
				<div class="func clear">
					<a href="" class="btn_alarm spr_before"><span class="length">12</span><span class="s_out">개의 알림 보기</span></a>
					<div class="wrap_mymenu">
						<div class="img_profile"><img src="./img/temp1.jpg" alt=""></div>
						<button type="button" class="btn_mymenu">admin</button>
					</div>
				</a>
			</div>
		</header>
		<main class="main clear">
			<nav class="wrap_lnb">
				<ul>
					<li class="dashboard"><a href="" class="link">DASHBOARD</a></li>
					<li><a href="" class="link">회원 관리</a></li>
					<li><a href="" class="link">업체 관리</a></li>
					<li><a href="" class="link">MD 관리</a></li>
					<li><a href="" class="link open">상품 관리</a>
						<ul class="dep2">
							<li><a href="" class="link">상품 조회/수정</a></li>
							<li><a href="" class="link">상품 등록</a></li>
							<li><a href="" class="link">상품 등록 심사</a></li>
							<li><a href="" class="link">카테고리(분류) 관리</a></li>
							<li><a href="" class="link">브랜드 관리</a></li>
						</ul>
					</li>
					<li><a href="" class="link">매출/정산 관리</a></li>
					<li><a href="" class="link">배너 관리</a></li>
					<li><a href="" class="link">이벤트 관리</a></li>
					<li><a href="" class="link">기획전 관리</a></li>
					<li><a href="" class="link">쿠폰 관리</a></li>
					<li><a href="" class="link">팝업 관리</a></li>
					<li><a href="" class="link">에디터 보드 관리</a></li>
					<li><a href="" class="link">Q&amp;A 관리</a></li>
					<li><a href="" class="link">FAQ 관리</a></li>
					<li><a href="" class="link">리뷰 관리</a></li>
					<li><a href="" class="link">댓글 관리</a></li>
				</ul>
			</nav>
			<section class="content">
				<h2 class="tit">상품 조회/수정</h2>
				<form action="" class="wrap_table">
					<fieldset>
						<legend>검색하기</legend>
						<table class="table_vertical">
							<colgroup>
								<col style="width:150px">
								<col style="width:auto">
							</colgroup>
							<tr>
								<th>출력 선택 필터</th>
								<td>
									<div class="wrap_inputcheck">
										<span class="input_check"><input type="checkbox" id="tempCheck01"><label for="tempCheck01">상품 등록일</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck02"><label for="tempCheck02">업체코드</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck03"><label for="tempCheck03">업체명</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck04"><label for="tempCheck04">브랜드 코드</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck05"><label for="tempCheck05">브랜드명 (한글)</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck06"><label for="tempCheck06">브랜드명 (영문)</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck07"><label for="tempCheck07">카테고리 구분</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck08"><label for="tempCheck08">담당 MD</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck09"><label for="tempCheck09">상품 코드</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck10"><label for="tempCheck10">상품 이미지</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck11"><label for="tempCheck11">상품명</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck12"><label for="tempCheck12">수수료율</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck13"><label for="tempCheck13">할인 수수료</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck14"><label for="tempCheck14">판매가</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck15"><label for="tempCheck15">할인가</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck16"><label for="tempCheck16">할인율</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck17"><label for="tempCheck17">쿠폰</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck18"><label for="tempCheck18">쿠폰적용가</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck19"><label for="tempCheck19">상태</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck20"><label for="tempCheck20">재고</label></span>
										<span class="input_check"><input type="checkbox" id="tempCheck21"><label for="tempCheck21">옵션 분류</label></span>
									</div>
								</td>
							</tr>
							<tr>
								<th>출력 조건</th>
								<td>
									<div class="wrap_inputs">
										<div class="group">
											<span class="input_select" style="width:175px">
												<select name="" id="">
													<option value="" selected>전체 분류</option>
													<option value="">업체 코드</option>
													<option value="">업체명</option>
													<option value="">브랜드 코드</option>
													<option value="">브랜드명</option>
													<option value="">담당 MD</option>
													<option value="">상품 코드</option>
													<option value="">상품명</option>
												</select>
											</span>
											<span class="input_search" style="width:340px">
												<input type="text">
												<button type="button" class="btn_search spr_before pos_center_before"><span class="s_out">검색</span></button>
											</span>
											<button type="button" class="btn_mutilsearch" onclick="showLayer('#mutilSearch',this)">다수검색</button>
										</div>
										<div class="wrap_layer layer_mutilsearch hide" id="mutilSearch">
											<button type="button" class="btn_close spr_after pos_center_after" onclick="hideLayer('#mutilSearch')"><span class="s_out">레이어닫기</span></button>
											<div class="mutilsearch spr_before pos_center_before v">
												<input type="text" value="플라워패턴, 하와이안, 시트러스">
											</div>
										</div>
										<div class="group">
											<span class="input_datas">
												<input type="text" id="datepickerFrom">
												<button type="button" class="btn_showcal from spr_before pos_center_before"><span class="s_out">달력열기</span></button>
												<span class="txt">~</span>
												<input type="text" id="datepickerTo">
												<button type="button" class="btn_showcal to spr_before pos_center_before"><span class="s_out">달력열기</span></button>
											</span>
											<script type="text/javascript">
												$(function(){
													setDatepicker('#datepickerFrom','#datepickerTo');
												})
											</script>
										</div>
									</div>
								</td>
							</tr>
						</table>
						<div class="btns">
							<button type="button" class="btn_st1">선택항목 삭제</button>
						</div>
					</fieldset>
				</form>
				<section class="search_result">
					<div class="options">
						<button type="button" class="btn_download spr_before pos_center_before v">엑셀 다운로드</button>
						<span class="input_select" style="width:175px">
							<select name="" id="">
								<option value="" selected>10개씩 보기</option>
								<option value="">50개씩 보기</option>
								<option value="">100개씩 보기</option>
								<option value="">500개씩 보기</option>
							</select>
						</span>
					</div>
					<div class="wrap_table scroll_x">
						<table class="table_horizontal">
							<thead>
								<tr class="center">
									<th><span class="input_check"><input type="checkbox" id="tableCheckAll"><label for="tableCheckAll"><span class="s_out">전체선택</span></label></span></th>
									<th>상품 등록일</th>
									<th>업체 코드</th>
									<th>업체명</th>
									<th>브랜드 코드</th>
									<th>브랜드명 (한글)</th>
									<th>브랜드명 (영문)</th>
									<th>카테고리 구분</th>
									<th>담당 MD</th>
									<th>상품 코드</th>
									<th class="line2">상품<br>이미지</th>
									<th>상품명</th>
									<th>수수료율</th>
									<th class="line2">할인<br>수수료율</th>
									<th>판매가</th>
									<th>할인가</th>
									<th>할인율</th>
									<th>쿠폰</th>
									<th>쿠폰적용가</th>
									<th>상태</th>
									<th>재고</th>
									<th>옵션 분류</th>
									<th>관리</th>
								</tr>
							</thead>
							<tbody>
								<tr class="center nowrap">
									<td><span class="input_check"><input type="checkbox" id="tableCheck1"><label for="tableCheck1"><span class="s_out">선택</span></label></span></td>
									<td>18-12-17</td>
									<td>ABC123</td>
									<td>나이키 코리아</td>
									<td>AA1234</td>
									<td>나이키</td>
									<td>NIKE</td>
									<td>FOOTWEAR&gt;SNEAKERS</td>
									<td>홍길동</td>
									<td>AB1212</td>
									<td>
										<div class="thum">
											<img src="./img/temp3.jpg" alt="임시이미지">
										</div>
									</td>
									<td>나이키 에어맥스 95 에센셜</td>
									<td>30%</td>
									<td>25%</td>
									<td>150,000원</td>
									<td>135,000원</td>
									<td>10%</td>
									<td>10%</td>
									<td>121,500원</td>
									<td>판매중</td>
									<td>999</td>
									<td>
										<ul class="table_option">
											<li>컬러 <button type="button" class="btn_option pos_center v" onclick="showTableOption('#tableOption1');"><span class="s_out">옵션보기</span></button>
												<ul class="option hide" id="tableOption1" onmouseleave="hideTableOption('#tableOption1')">
													<li>RED</li>
													<li>BLACK</li>
													<li>WHITE</li>
												</ul>
											</li>
											<li>사이즈 <button type="button" class="btn_option pos_center v" onclick="showTableOption('#tableOption2')"><span class="s_out">옵션보기</span></button>
												<ul class="option hide" id="tableOption2" onmouseleave="hideTableOption('#tableOption2')">
													<li>250</li>
													<li>255</li>
													<li>260</li>
													<li>265</li>
													<li>270</li>
													<li>275</li>
													<li>280</li>
												</ul>
											</li>
										</ul>
									</td>
									<td>
										<button type="button" class="btn_st3">수정</button>
										<button type="button" class="btn_st3">보기</button>
										<button type="button" class="btn_st3">승인</button>
										<button type="button" class="btn_st3">반려</button>
									</td>
								</tr>
								<tr class="center nowrap">
									<td><span class="input_check"><input type="checkbox" id="tableCheck1"><label for="tableCheck1"><span class="s_out">선택</span></label></span></td>
									<td>상품 등록일</td>
									<td>업체 코드</td>
									<td>업체명</td>
									<td>브랜드 코드</td>
									<td>브랜드명 (한글)</td>
									<td>브랜드명 (영문)</td>
									<td>카테고리 구분</td>
									<td>담당 MD</td>
									<td>상품 코드</td>
									<td>
										<div class="thum">
											<img src="./img/temp3.jpg" alt="임시이미지">
										</div>
									</td>
									<td>상품명</td>
									<td>수수료율</td>
									<td>할인 수수료율</td>
									<td>판매가</td>
									<td>할인가</td>
									<td>할인율</td>
									<td>쿠폰</td>
									<td>쿠폰적용가</td>
									<td>상태</td>
									<td>재고</td>
									<td>
										<ul class="table_option">
											<li>컬러 <button type="button" class="btn_option pos_center v" onclick="showTableOption('#tableOption3');"><span class="s_out">옵션보기</span></button>
												<ul class="option hide" id="tableOption3" onmouseleave="hideTableOption('#tableOption3')">
													<li>RED</li>
													<li>BLACK</li>
													<li>WHITE</li>
												</ul>
											</li>
											<li>사이즈 <button type="button" class="btn_option pos_center v" onclick="showTableOption('#tableOption4')"><span class="s_out">옵션보기</span></button>
												<ul class="option hide" id="tableOption4" onmouseleave="hideTableOption('#tableOption4')">
													<li>250</li>
													<li>255</li>
													<li>260</li>
													<li>265</li>
													<li>270</li>
													<li>275</li>
													<li>280</li>
												</ul>
											</li>
										</ul>
									</td>
									<td>
										<button type="button" class="btn_st3">수정</button>
										<button type="button" class="btn_st3">보기</button>
										<button type="button" class="btn_st3">승인</button>
										<button type="button" class="btn_st3">반려</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="btns">
						<button type="button" class="btn_st1 small">선택항목 삭제</button>
						<button type="button" class="btn_st2">일괄 승인 처리</button>
						<button type="button" class="btn_st2">일괄 반려 처리</button>
					</div>
					<div class="pages">
						<a href="" class="move prev first"><span class="s_out">맨 앞으로</span></a>
						<a href="" class="move prev"><span class="s_out">이전 페이지</span></a>
						<span>
							<em class="page">1</em>
							<a href="" class="page">2</a>
							<a href="" class="page">3</a>
							<a href="" class="page">4</a>
							<a href="" class="page">5</a>
							<a href="" class="page">6</a>
							<a href="" class="page">7</a>
							<a href="" class="page">8</a>
							<a href="" class="page">9</a>
							<a href="" class="page">10</a>
						</span>
						<a href="" class="move next"><span class="s_out">다음 페이지</span></a>
						<a href="" class="move next last"><span class="s_out">맨 뒤로</span></a>
					</div>
				</section>

				<div style="padding:500px 20px 0;">		
					<h1>버튼</h1>
					<div>
						<a href="" class="btn_st1">a링크 주요버튼</a>
						<button type="button" class="btn_st1">button 태그 주요버튼</button>
					</div>
					<div>
						<a href="" class="btn_st2">a링크 보조버튼</a>
						<button type="button" class="btn_st2">button 태그 보조버튼</button>
					</div>

					<div class="wrap_table">
						<h1 class="tit_table">리스트 타이틀명 th 세로</h1>
						<table class="table_vertical"><!-- left_th:th 왼쪽정렬 / center_td:td 가운데정렬,  -->
							<tr>
								<th>타이틀1</th>
								<td>내용</td>
							</tr>
							<tr>
								<th>타이틀1</th>
								<td>내용</td>
							</tr>
							<tr>
								<th>타이틀1</th>
								<td>내용</td>
							</tr>
						</table>
					</div>

					<!-- 스크롤형, th,td width 필수 / wrap_table에 width 필수 / inner에 th의 width 만큼 margin-left -->
					<div class="wrap_table table_test">
						<h1 class="tit_table">리스트 타이틀명 th 세로 스크롤형</h1>
						<div class="inner">
							<table class="table_vertical table_scroll">
								<tr>
									<th>타이틀1</th>
									<td>내용</td>
								</tr>
								<tr>
									<th>타이틀1</th>
									<td>내용</td>
								</tr>
								<tr>
									<th>타이틀1</th>
									<td>내용</td>
								</tr>
								<tr>
									<th>타이틀1</th>
									<td>내용</td>
								</tr>
								<tr>
									<th>타이틀1</th>
									<td>내용</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="wrap_table">
						<h1 class="tit_table">리스트 타이틀명 th 가로</h1>
						<table class="table_horizontal">
							<thead>
								<tr>
									<th>타이틀1</th>
									<th>타이틀1</th>
									<th>타이틀1</th>
									<th>타이틀1</th>
									<th>타이틀1</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
							</tbody>
						</table>
					</div>		

					<!-- 스크롤형, th,td width 필수 / tbody에 height 필수 -->
					<div class="wrap_table table_test2">
						<h1 class="tit_table">리스트 타이틀명 th 가로 스크롤형</h1>
						<table class="table_horizontal table_scroll">
							<thead>
								<tr>
									<th>타이틀1</th>
									<th>타이틀1</th>
									<th>타이틀1</th>
									<th>타이틀1</th>
									<th>타이틀1</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
								<tr>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
									<td>내용</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</main>
	</div>
	<script type="text/javascript" src="./js/common.js"></script>
</body>
</html>